
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  /* background-color: #000000; */
  color: white;
  font-family: sans-serif;
}
.container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  margin: 0 auto;
  display: flex;
  background-color: rgb(2, 11, 7);
}

.nav-container {
  display: inline-block;  
  flex-direction: column;
  max-width: 12%;
  height: 100%;
  padding-left: 10px;
  /* background-color: rgb(0, 0, 0); */
}

.logo{
  max-width: 65%;
  margin-top: 30px; 
  margin-bottom: 20px;
}

.nav-items {
  font-size: 1vw;
  margin-left: 10px;
}

.icon {
  margin-right: 10px; 
}

.link {
  display: flex;
  margin-top: 25px;
  opacity: 0.7;
}

.link:hover {
  cursor: pointer;
  opacity: 1;
  transition: opacity 250ms ease-in;
}

.display-container {
  display: inline-block;
  width: 87%;
  height: 100vh;
  padding: 20px;
  overflow: auto;
  background-color: #090f0b;
}

main {
  align-items: center;
  width: 100%;

}

.categories-container {
  height: 100%;
}

.player-container {
  position: fixed;  
  bottom: 0;
  width: 100%;
  padding: 10spx;
  max-height: 15vh;
  /* background-color: rgb(255, 255, 255); */
  align-items: center;
  text-align: center;
}

.search-container {
  display: flex;
  flex-direction: column;
  width: 100%;

}

.search-bar {
  position: absolute;
}

input {
  width: 150%;
  padding: 10px;
  margin:4px;
  box-sizing: border-box;
  padding-left:60px;
  border-radius: 26px;
  color: black;
 }

 input:focus, textarea:focus, select:focus{
  outline: none;
}

 .search-bar i {
  position:absolute;
  left:0;
  top:5px;
  padding:10px 10px;
  color:#010101;
 }

 .search-results-container {
  position: relative;
  top: 80px;
  left: 10px;
  display: grid;
  grid-template-columns: 30% 65%;
  grid-template-rows: 30vh;
  column-gap: 1rem;
  overflow: auto;
  height: 100vh;
 }
.top-result-container,
.top-four-songs {
  /* border: 2px solid white; */
  padding: 10px;

}

.top-result-container:hover,
li:hover {
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 250ms ease-in-out;

}

.top-result-wrapper,
.top-four-list {
  margin-top: 25px;
  padding: 12px;
  height: 260px;
}

.result-title, 
.result-artist {
  margin-top: 35px;
}

ul {
  list-style-type:none;
}

li {
  display: flex;
  margin-bottom: 2px;
  width: 100%;
}
.top-result-wrapper:hover,
li:hover {
  border: 0.5px solid gray
}

.track-metadata {
  margin-left: 10px;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.login-button {
  position: absolute;
  bottom: 100px;
  border: none;
  border-radius: 18px;
  width: 10vw;
  height: 3vh;
  background-color: #1DB954;
  color: white;
}
.top-result-artists,
.audiobook,
.featured-playlist-covers,
.new-release-albums {
  display: flex;
  flex-direction: row;
  overflow: auto;
}

.top-result-artists{
  margin-top: 150px;
  width: 300%;
  justify-content: space-evenly;
}

.artist-image-container:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.2s ease-;
}

.new-release-albums::-webkit-scrollbar{
  display: none;
}


.categories-container {
  height: 80vh;
}

.audiobook-container,
.featured-playlist-container,
.album-container {
  margin-right: 15px;
}

.audiobook-container:hover,
.featured-playlist-container:hover,
.album-container:hover {
  cursor: pointer;
  border-radius: 8px;
  opacity: 0.7;
  transition: opacity 250ms ease-in-out;
}
